@import '../../../assets/styles/colors.scss';

.button__blue {
    outline: none;
    background: #ffffff;
    border: 1.5px solid $secColor;
    box-shadow: 2px 4px 50px rgba($color: $secColor, $alpha: 0.4);
    border-radius: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;
    color: #47545b;
    &:hover {
        box-shadow: 2px 4px 60px rgba($color: $secColor, $alpha: 0.7);
    }
}
