@import '../../../assets/styles/colors.scss';
.sub_menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateX(-40%);
    list-style: none;
    margin-top: 20px;
    background-color: rgba($color: darken($headerColor, 10), $alpha: 0.5);
    border-radius: 10px;
    > li {
        font-size: 18px;
        min-width: 350px;
        padding: 5px;
        border-bottom: 2px solid lighten($headerColor, 10);
        &:nth-last-child(1) {
            border-bottom: none;
        }
    }
}
.has_sub {
    position: relative;
}
